alabaster==0.7.12
Babel==2.7.0
backports-abc==0.5
certifi==2019.9.11
chardet==3.0.4
Click==7.0
docutils==0.15.2
enum34==1.1.6
futures==3.3.0
idna==2.8
imagesize==1.1.0
ipaddress==1.0.23
Jinja==1.2
Jinja2==2.10.3
livereload==2.6.1
Markdown==3.1.1
MarkupSafe==1.1.1
miniupnpc==2.0.2
mkdocs==1.0.4
packaging==19.2
pydoc-markdown==2.0.5
pygame==1.9.6
Pygments==2.4.2
Pynetinfo==0.2.3
pyparsing==2.4.2
pytz==2019.3
PyYAML==5.4
requests==2.22.0
singledispatch==3.4.0.3
six==1.12.0
snowballstemmer==2.0.0
Sphinx==1.8.5
sphinx-serve==1.0.1
sphinxcontrib-websupport==1.1.2
tornado==5.1.1
typing==3.7.4.1
urllib3==1.25.6
